.team {
    display: inline-block;
    margin: 10px;
}

.team .name {
    font-size: 1.5rem;
    color: green;
    display: inline-block;
    text-align: center;
    width: 80%;
    font-weight: bold;
}

.team .score {
    display: inline-block;
    color: white;
    font-size: 2rem;
    width: 80px;
}

.team .fouls {
    color: yellow;
    display: inline-block;
    font-size: 1rem;
    width: 20px;
}

.team .time-outs {
    color: orange;
    display: inline-block;
    font-size: 1rem;
    width: 20px;
}

