@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.App {
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
  width: 80%;
}

.board {
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: black;
  display: flow;
}

.scoreboard {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1px 1px 20px 1px;
}

.match {
  width: 40%;
  display: inline-block;
}

.match .match-timer {
  margin: 10px;
  width: 200px;
  display: inline-block;
}

.match .timer {
  color: red;
  padding: 5px;
  font-weight: bold;
  font-size: 3.5rem;
}

.match .perpo {
  display: row;
  width: 100%;
}

.period{
    display: inline-block;
    color: blue;
    font-size: 2rem;
    font-weight: bold;
    width: 50%;
}

.posession{
  display: inline-block;
  color: orange;
  font-size: 2rem;
  font-weight: bold;
  width: 25%;
}

.controller {
  text-align: center;
  background-color: grey;
  width: 100%;
}

.controls {
  text-align: center;
  background-color: grey;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.controls button, .team button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  color: #282c34;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.controls button:hover, .team button:hover {
  background-color: #61dafb;
}

.timer-shot-clock {
  display: inline-block;
  border: 1px solid white;
  margin: 15px 50px;
  width: 150px;
  height: 150px;
}

.timer-shot-clock .shot-clock {
  color: #ff0000d6;
  font-size: 4rem;
  font-weight: bold;
}

.timer-shot-clock .timer{
  color: yellow;
  font-size: 2rem;
  font-weight: bold;
}

.finish {
  border: 3px;
  border-color: #ff0000d6;
}

.title {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}  


.sign {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  align-items: right;
  display: inline-block;
  margin: 2px;
}  